@font-face{
       src:url('../tipografias/titulos.ttf');
       font-family: rotulo;
}
@font-face{
       src:url('../tipografias/Muli-Regular.ttf');
       font-family:mitexto;
}

/*  IFRAMES RESPONSIVE*/

.iframe-responsive {position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */}
.iframe-content {position: absolute;
                 top: 0;
                 left: 0;
                 bottom: 0;
                 right: 0;
                 width: 90%;
                 height: 100%;
        
                }

/* LAYOUT BÁSICO */

body {background-color: white;
      font-family:mitexto;}

#container {width:80%; 
            margin:auto;      
            }
/***** flecha fija para volver al principio de la página ****/
.fa-arrow-up {position:fixed;
              bottom:30px;
              right:30px;
              color: rgba(17, 4, 4, 0.5);
              padding:10px;
              border-radius:20px;
              border:1px solid rgba(17, 4, 4, 0.5);
              z-index:99;}

a {text-decoration:none;
   color:green;
   font-weight:bold;}
a:hover {color:red;}

button {cursor:pointer;
        }

/****** NAVBAR RESPONSIVE *********/
nav {position:sticky;
     position:-webkit-sticky;
     top:0;
     z-index:99;}

.topnav {
       background-color: rgb(150, 169, 172);
       overflow: hidden;
     }
     
     /* Style the links inside the navigation bar */
     .topnav a {
       float: left;
       display: block;
       color: #f2f2f2;
       text-align: center;
       padding: 10px 24px;
       text-decoration: none;
       font-size: 1em;
       font-weight: bold;
     }
     
     .topnav a:hover {
       background-color: #ddd;
       color: black;
     }
     .topnav .icon {
       display: none;
     }

@media screen and (max-width: 850px) {
       .topnav a:not(:first-child) {display: none;}
       .topnav a.icon {
         float: right;
         display: block;
       }
     }
     
     @media screen and (max-width: 850px) {
       .topnav.responsive {position: relative;}
       .topnav.responsive a.icon {
         position: absolute;
         right: 0;
         top: 0;
       }
       .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
       }
     }
/* HERO SECTION */            

#hero {position:relative;
       background-image:url('../imagenes/wallpaper.jpg');
       background-size: cover;
       background-position: right;
       height: 90vh; 
       }

#hero h2 {position:absolute;

          top:20px;
          right:15px;
          color:white;
          font-family:rotulo;
          font-size:2.5em;
          text-shadow:1px 1px 1px navy;
          background-color:rgba(128, 128, 128, 0.5);
          padding:15px;
          border-radius:0px 20px 10px 0px;
          }

/* INTRO SECTION */

#intro p { width:70%;
           margin:50px auto;
           text-align:justify;
           font-size:1.5em;
           line-height: 40px;
           padding-bottom:10px;
           border-bottom:2px solid rgb(43, 177, 132);}

/* funcionamiento SECTION*/
#funcionamiento {background-color: rgb(248, 219, 125);
           padding:30px;}
#funcionamiento p {font-size:1.2em;
             text-align:justify;
             line-height:35px;
       }

#ondas {width:50%;
           float:left;
           margin-right:20px;
           margin-bottom:20px;
           text-align:left;}

/* FUNCION SECTION */
.grid2col {display:grid; 
           grid-template-columns:50% 50%;
           text-align: justify;
}
.col2 {
       padding:10%;
       border-bottom:2px solid rgb(43, 177, 132);
         }

/* CONTACTO SECTION utilizando grid de 3 columnas */
.grid3col {display:grid;
           grid-template-columns:auto auto 50%;
          }
.col3 {padding:5%;
       }
#diferencias {padding:20px;
        background-color:rgb(179, 216, 179);}

.grid4col {display:grid;
           grid-template-columns:auto auto auto auto ;
}
.col4 {padding:15px;
       margin:10px;
       background-color:white;
       border:1px solid grey;
       border-radius:10px;
       box-shadow:2px 2px 2px grey;
       transition:0.5s;}
.col4:hover {box-shadow:2px 4px 8px grey;}
.col4 img {width:100%;
           border-radius:50%;
           opacity:0.6;
           transition:1s;}
.col4 img:hover {opacity:1;}
.col4 .fa {font-size:6em;
           text-align:center;
           display:block;
           color:orangered;}
.col4 button {background-color:orangered;
              padding:8px;
              border:none;
              color:white;
              font-weight:bold;
              border-radius:10px;
              display:block;
              margin:auto;
              }
.col4 button:hover {background-color:rgb(230, 138, 84);}

/** FOOTER **/
footer {padding:20px;
        background-color:rgb(248, 219, 125) ;}

footer .fa {
       padding: 10px;
       font-size: 20px;
       width: 30px;
       text-align: center;
       text-decoration: none;
       margin: 5px 2px;
     }
     
     .fa:hover {
         opacity: 0.7;
     } 
     .fa-twitter {
       background: #55ACEE;
       color: white;
     }

     .fa-github {
       background: white;
       color: black;
     }

/*Media query, para ajustar la pagina respectoa  la resolucion, no tocar mucho */ 

@media only screen and (max-width:900px){
       .grid3col {grid-template-columns: 50% 50%;
              }

       .grid4col {grid-template-columns: 50% 50%;}
}
@media only screen and (max-width:600px){ /* tamaño de móvil */
       #container {width:100%;}
       #ondas {width:100%;}
       #intro p {text-align:left;
                 width:80%;}
       .grid2col{grid-template-columns: 100%;} /* modificar el grid al 100 */
       .grid3col{grid-template-columns: 100%;}
       .grid4col {grid-template-columns: 100%;}
}